body {
	font-family:sans-serif;
	margin:0;
	padding:0;
}

a {color:#51535B;}

table {width:100%;margin:0;padding:0;}

pre.session{display:none;}

.center {text-align:center;}

.desktop{color:red;font-size:24px;}

.mobile{display:none;}

.rederror {
	border:solid 1px red;
}

.content {
	margin:0;
	padding:0;
	border-top:solid 1px #CCC;
	border-left:solid 1px #CCC;
	border-right:solid 1px #CCC;
}

.sectionHeader {
	font-size:22px;
	padding:20px;
	font-weight:bold;
	background-color:#DDD;
	border-bottom:solid 1px #CCC;
}

.sectionHeaderIcon {
	border-radius:6px;
	vertical-align:middle;
	margin-top:-3px;
}

.sectionHeaderAppBundleId {
	font-size:10px;
	font-color:gray;
	font-weight:normal;
}

.sectionHeader table tr td {
	font-size:22px;
	font-weight:bold;
	background-color:#DDD;
}

.sectionMenu {
	padding:8px 4px 8px 18px;
	background-color:#EBF0F3;
	border-bottom:solid 1px #CCC;
	font-size:12px;
}

.sectionRow {
	padding:20px;
	padding-left:20px;
	background-color:#F3F3F3;
	border-bottom:solid 1px #CCC;
	font-size:16px;
	color:#51535B;
}

.sectionRow a {
	font-size:16px;
}

.sectionRowIcon {
	border-radius:6px;
	vertical-align:middle;
	margin-top:-2px;
}

.sectionRow a.alink {
	font-size:10px;
}

.sectionRowAppLinks {
	margin-top:5px;
}

.desktop .sectionRow {
	color:red;
}

.rnotes {
	margin-top:20px;
}

.rnotes a {
	font-size:12px;
}